# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit veriumd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/verium/verium.conf

[Unit]
Description=Verium daemon
After=network.target

[Service]
ExecStart=/usr/bin/veriumd -daemon -conf=/etc/verium/verium.conf -pid=/run/veriumd/veriumd.pid
# Creates /run/veriumd owned by verium
RuntimeDirectory=veriumd
User=verium
Type=forking
PIDFile=/run/veriumd/veriumd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
